
<div id='journaldetails'>


<h1>{{name}}</h1>
<h2>{{city}}</h2>

  <a class="btn" href='/my-page/add-place/{{_id}}'>Add a place</a>

  <div id='places'>
    <h4 id="info">Info</h4>

    {{#each places}}
    <h6>{{name}}</h6>
    <h4>{{comments}}</h4>
    {{/each}}

    <h4 id="friendscomments">My Friends Comments</h4>
    <input class="btn" id='deletebtn' type="button" value="Delete Place">
  </div>

 {{!-- Google Places routes  --}}

<div style="display: none">
    <input id="origin-input" class="controls" type="text"
        placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination location">

    <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div>
</div>

<div id="map1"></div>

{{!-- Weather api --}}

<a class="weatherwidget-io" href="https://forecast7.com/en/52d374d90/amsterdam/" data-label_1="AMSTERDAM" data-label_2="WEATHER" data-theme="gray" >AMSTERDAM WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

{{!-- Delete Button --}}

<a href='/my-page/journals/journal-details/delete?id={{_id}}'>Delete Journal</a>


</div>


